<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Danh Sách Ứng Cử Viên</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Công Ty ABC</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
                <a class="nav-link" th:href="@{/home}">Trang Chủ <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/job_list}">Tin Tuyển Dụng</a>
            </li>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/candidate_list}">Ứng Cử Viên</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/add_job}">Đăng Tin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/company_list}">Liên Hệ</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-4">
    <h1>Danh Sách Ứng Cử Viên</h1>
    <ul th:each="candidate : ${candidates}">
        <li><a th:text="${candidate.full_name}" th:href="@{/{id}(id=${candidate.id})}"></a></li>
    </ul>

    <button type="button" class="btn btn-success"><a class="text-white" th:href="@{/add_candidate}">Thêm Ứng Cử Viên</a></button>


    <h1>Kết quả tìm kiếm ứng viên theo kỹ năng</h1>

    <form method="get" th:action="@{/search}">
        <label>Chọn kỹ năng: </label>
        <select name="skillId">
            <option value="">--- Chọn kỹ năng ---</option>
            <option th:each="skill : ${skill}"
                    th:value="${skill.type}"
                    th:text="${skill.name}">
            </option>
        </select>
        <button type="submit">Tìm kiếm</button>
    </form>

    <table>
        <tr>
            <th>Họ tên</th>
            <th>Email</th>
            <th>SĐT</th>
        </tr>

        <tr th:each="candidate : ${candidates}">
            <td th:text="${candidate.full_name}">Nguyen Van A</td>
            <td th:text="${candidate.email}">a@example.com</td>
            <td th:text="${candidate.phone}">0123456789</td>
        </tr>
    </table>




</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
