<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Candidate Detail</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center">Candidate Detail</h1>

    <div class="mt-4">
        <h2>Candidate</h2>
        <ul>
            <li><strong>Full Name:</strong> <span th:text="${candidate.full_name}"></span></li>
            <li><strong>Date of Birth:</strong> <span th:text="${candidate.dob}"></span></li>
            <li><strong>Phone Number:</strong> <span th:text="${candidate.phone}"></span></li>
            <li><strong>Email:</strong> <span th:text="${candidate.email}"></span></li>
        </ul>

        <h2>Address</h2>
        <ul>
            <li><strong>Street:</strong> <span th:text="${candidate.address.stress}"></span></li>
            <li><strong>City:</strong> <span th:text="${candidate.address.city}"></span></li>
            <li><strong>Number:</strong> <span th:text="${candidate.address.number}"></span></li>
            <li><strong>Zip Code:</strong> <span th:text="${candidate.address.zipcode}"></span></li>
            <li><strong>Country:</strong> <span th:text="${candidate.address.country}"></span></li>
        </ul>

        <a class="btn btn-primary" th:href="@{/candidate_list}">Return</a>

        <a class="btn btn-primary" th:href="@{/candidate_list}">Add Skill</a>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
