<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Company Details</title>

    <!-- Liên kết đến Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container my-5">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title" th:text="${company.comp_name}"></h5>
        </div>
        <div class="card-body">
            <p class="card-text" th:text="${company.about}"></p>
            <p class="card-text"><strong>Email:</strong> <span th:text="${company.email}"></span></p>
            <p class="card-text"><strong>Phone:</strong> <span th:text="${company.phone}"></span></p>
            <p class="card-text"><strong>Website:</strong> <a class="btn btn-link" th:href="@{${company.web_url}}" th:text="${company.web_url}"></a></p>

            <!-- Thông tin địa chỉ -->
            <h5 class="card-title">Address</h5>
            <p class="card-text">
                <strong>Street:</strong> <span th:text="${company.address.stress}"></span><br>
                <strong>City:</strong> <span th:text="${company.address.city}"></span><br>
                <strong>Country:</strong> <span th:text="${company.address.country}"></span><br>
                <strong>Number:</strong> <span th:text="${company.address.number}"></span><br>
                <strong>Zipcode:</strong> <span th:text="${company.address.zipcode}"></span>
            </p>

            <!-- Danh sách công việc -->
            <h5 class="card-title">Jobs</h5>
            <ul class="list-group">
                <h4 th:each="job : ${jobs}" class="list-group-item" th:text="${job.title}"></h4>
                <li th:each="job : ${jobs}" class="list-group-item" th:text="${job.desc}"></li>
            </ul>

            <!-- Danh sách kỹ năng -->
            <h5 class="card-title">Job Skills</h5>
            <ul class="list-group">
                <li th:each="jobSkill : ${jobSkills}" class="list-group-item" th:text="${jobSkill.skill}"></li>
            </ul>
        </div>
    </div>
</div>

<!-- Liên kết đến Bootstrap JS (nếu cần) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
