x`<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
<!--    <title>Thêm Công Việc</title>-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">-->
<!--</head>-->
<!--<body>-->

<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--    <a class="navbar-brand" href="#">Công Ty ABC</a>-->
<!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--    <div class="collapse navbar-collapse" id="navbarNav">-->
<!--        <ul class="navbar-nav ml-auto">-->
<!--            <li class="nav-item ">-->
<!--                <a class="nav-link" th:href="@{/home}">Trang Chủ <span class="sr-only">(current)</span></a>-->
<!--            </li>-->
<!--            <li class="nav-item ">-->
<!--                <a class="nav-link" th:href="@{/job_list}">Tin Tuyển Dụng</a>-->
<!--            </li>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" th:href="@{/candidate_list}">Ứng Cử Viên</a>-->
<!--            </li>-->
<!--            <li class="nav-item active">-->
<!--                <a class="nav-link" th:href="@{/add_job}">Đăng Tin</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" th:href="@{/company_list}">Liên Hệ</a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->
<!--</nav>-->

<!--<div class="container mt-4">-->
<!--    <h1>Thêm Công Việc</h1>-->
<!--    <form action="/add_job"  method="post">-->
<!--        <div class="form-group">-->
<!--            <label for="jobTitle">Tiêu đề công việc</label>-->
<!--            <input type="text" class="form-control" id="jobTitle" placeholder="Nhập tiêu đề công việc" name="job.name">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="jobDescription">Mô tả công việc</label>-->
<!--            <textarea class="form-control" id="jobDescription" rows="5" placeholder="Nhập mô tả công việc" name="job.desc"></textarea>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="jobSkill">Kỹ năng công việc</label>-->
<!--            <input type="text" class="form-control" id="jobSkill" placeholder="Nhập kỹ năng công việc" name="jobSkill.">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="jobSkillMoreInfo">Thông tin thêm</label>-->
<!--            <input type="text" class="form-control" id="jobSkillMoreInfo" placeholder="Nhập thông tin thêm" name="jobSkill.more_info">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="skillLevel">Cấp độ kỹ năng</label>-->
<!--            <select class="form-control" id="skillLevel" name="">-->
<!--                <option value="MASTER">MASTER</option>-->
<!--                <option value="PROFESSIONAL">PROFESSIONAL</option>-->
<!--                <option value="ADVANCED">ADVANCED</option>-->
<!--                <option value="INTERMEDIATE">INTERMEDIATE</option>-->
<!--                <option value="INTERMEDIATE">INTERMEDIATE</option>-->
<!--            </select>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="skillType">Loại kỹ năng</label>-->
<!--            <select class="form-control" id="skillType">-->
<!--                <option value="UNSPECIFIC">UNSPECIFIC</option>-->
<!--                <option value="TECHNICAL_SKILL">TECHNICAL_SKILL</option>-->
<!--                <option value="SOFT_SKILL">SOFT_SKILL</option>-->
<!--            </select>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="skillLevelName">Tên cấp độ kỹ năng</label>-->
<!--            <input type="text" class="form-control" id="skillLevelName" placeholder="Nhập tên cấp độ kỹ năng">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="skillLevelDesc">Mô tả cấp độ kỹ năng</label>-->
<!--            <textarea class="form-control" id="skillLevelDesc" rows="3" placeholder="Nhập mô tả cấp độ kỹ năng"></textarea>-->
<!--        </div>-->
<!--        <button type="submit" class="btn btn-primary">Đăng Tin</button>-->
<!--    </form>-->
<!--</div>-->

<!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>-->
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>-->
<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Thêm Công Việc</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Công Ty ABC</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
                <a class="nav-link" href="/home">Trang Chủ <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/job_list">Tin Tuyển Dụng</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/candidate_list">Ứng Cử Viên</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/add_job">Đăng Tin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/company_list">Liên Hệ</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-4">
    <h1>Thêm Công Việc</h1>
    <form th:action="@{/add_job}" method="post">

<!--        <input type="hidden" th:field="*{id}"/>-->

        <div class="form-group">
            <label for="jobTitle">Tiêu đề công việc</label>
            <input type="text" class="form-control" id="jobTitle" placeholder="Nhập tiêu đề công việc" name="name">
        </div>
        <div class="form-group">
            <label for="jobDescription">Mô tả công việc</label>
            <textarea class="form-control" id="jobDescription" rows="5" placeholder="Nhập mô tả công việc" name="desc" ></textarea>
        </div>



<!--        <div class="form-group">-->
<!--            <label for="jobSkill">Kỹ năng công việc</label>-->
<!--            <input type="text" class="form-control" id="jobSkill" placeholder="Nhập kỹ năng công việc" name="skill">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="jobSkillMoreInfo">Thông tin thêm</label>-->
<!--            <input type="text" class="form-control" id="jobSkillMoreInfo" placeholder="Nhập thông tin thêm" th:field="*{more_info}">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="skillLevel">Cấp độ kỹ năng</label>-->
<!--            <select class="form-control" id="skillLevel" th:field="*{skill_level}">-->
<!--                <option value="MASTER">MASTER</option>-->
<!--                <option value="PROFESSIONAL">PROFESSIONAL</option>-->
<!--                <option value="ADVANCED">ADVANCED</option>-->
<!--                <option value="INTERMEDIATE">INTERMEDIATE</option>-->
<!--                <option value="BEGINNER">BEGINNER</option>-->
<!--            </select>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="skillType">Loại kỹ năng</label>-->
<!--            <select class="form-control" id="skillType" name="jobSkills.skill.type">-->
<!--                <option value="UNSPECIFIC">UNSPECIFIC</option>-->
<!--                <option value="TECHNICAL_SKILL">TECHNICAL_SKILL</option>-->
<!--                <option value="SOFT_SKILL">SOFT_SKILL</option>-->
<!--            </select>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="skillLevelName">Tên cấp độ kỹ năng</label>-->
<!--            <input type="text" class="form-control" id="skillLevelName" placeholder="Nhập tên cấp độ kỹ năng" name="jobSkills.skill.name">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="skillLevelDesc">Mô tả cấp độ kỹ năng</label>-->
<!--            <textarea class="form-control" id="skillLevelDesc" rows="3" placeholder="Nhập mô tả cấp độ kỹ năng" name="jobSkills.skill.desc"></textarea>-->
<!--        </div>-->
        <button type="submit" class="btn btn-primary">Đăng Tin</button>
    </form>



</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.misdeliver.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
